.add-employee-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
  }
  
  .add-employee-container {
    width: 450px;
    padding: 20px;
    text-align: center;
  }
  
  .add-employee-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .add-employee-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .add-employee-form input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background: #f9f9f9;
  }
  
  .add-employee-form input:focus {
    outline: 2px solid #007bff;
  }
  
  .add-employee-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
  }
  
  .add-employee-btn, .add-employee-btn-cancel {
    flex: none;
    width: 90px;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  .add-employee-btn {
    background-color: black;
    color: white;
  }
  
  .add-employee-btn-cancel {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
  
  .add-employee-btn:hover {
    background-color: #333;
  }
  
  .add-employee-btn-cancel:hover {
    background-color: #f2f2f2;
  }
  